body{
    text-align:center;
}

.about{
    margin:90px;
    padding:60px;
    border: 5px solid rgb(13, 188, 241);
    border-radius: 20px;
    background-color: black;
}  
 #myDetails{
     color: white;
 }

h1{
    color: rgb(236, 22, 22);
    font-size: 50px;
}